*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 242, 243);
}
.countainer{
    position: relative;
    background-image: 
        linear-gradient(135deg, #cc45ce49 0%, #c5abb24b 100%),
        url('david-marcu-78A265wPiO4-unsplash.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    height: 80%;
}
h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,50%);
    transition: translate 1.2s;
    color: linen;
    cursor: pointer;
}
span::after{
    content:'';
    display: block;
    margin: 0.8rem 0;
    border-radius: 2rem;
    width: 0px;
    height: 0.5rem;
    background-color: lightcoral;
    transition: width 0.4s;
}
h1:hover ::after{
    
    width: 100%;
}
li:hover ::after{
    
    width: 100%;
}
.imgbox{
    width: 20%;
    height: 20%;
    position: absolute;
    top:200px;
    left: 50%;
    transform: translate(-50%,50%);
    display: none;
    
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.image{
    width: 100%;
    animation: spin 6s infinite linear normal;
}

nav{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: max-content;
}
nav ul li {
    display: inline-block;
    margin: 0px 2rem;
    transition: all 0.6s linear;
}
nav ul li a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.6rem;
    transition: all 0.6s linear;
}
h1{
    font-size: 3.6rem;
}
@media (max-width:1920px){
    html{
        font-size: 110%;
    }
    .box{
        display: none;
    }
}
@media (max-width:1440px){
    html{
        font-size: 100%;
    }
    .box{
        display: none;
    }
}
@media (max-width:1275px){
    html{
        font-size: 90%;
    }
    .box{
        display: none;
    }
}
@media (max-width:1160px){
    html{
        font-size: 80%;
    }
    .box{
        display: none;
    }
}
@media (max-width:1005px){
    html{
        font-size: 70%;
    }
    .box{
        display: none;
    }
}
@media (max-width:880px){
    html{
        font-size: 60%;
    }
    .navigation{
        height: 70px;
        background-color: rgba(44, 44, 44, 0.479);
        transition: height 0.2s linear;
        position: relative;
        border-radius: 0 0 20px 20px;
        transition: background-color 0.6s linear, height 0.6 linear;
    }
    h1{
        z-index: -1;
    }
    nav{
        display: none;
    }
    nav ul{
        margin-top: 18rem;
        transition: all 0.6s linear;
    }
    nav ul li{
        display: block;
        margin: 1rem 0px;
        transition: all 0.6s linear;
    }
    nav ul li a{
        color: #f1f1f1;
        font-size: 2rem;
        transition: all 0.6s linear;
    }
    .box{
        display: block;
        width: 100px;
        height: 60px;
        float: right;
        margin-right: 1rem;
        margin-top: 0px;
        position: relative;
        cursor: pointer;
    }
    .countainer2{
        width: 50%;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .LIGNES{
        position: absolute; 
        display: inline;
        margin: 10% 3rem;
        width: 80%;
        height: 15%;
        background-color: #f1f1f1;
        border-radius: 5px;
        transition: all 0.3s linear;
    }
    .lignes1{
        top:10%;
    }
    .lignes2{
        top:45%;
        
    }
    .lignes3{
        top:80%;
        
    }
    .countainer2.active :nth-child(1){
        transform: rotate(130deg);
        top: 45%;
        
    }
    .countainer2.active :nth-child(2){
        transform: translate(-30px);
        opacity: 0;
    }
    .countainer2.active :nth-child(3){
        transform: rotate(-130deg);
        top: 45%;
    }

    .navigation.active,nav.active{
        display: block;
        height:32rem;

    }
    .navigation.active{
        display: block;
        height:36rem;
        background-color: #333333f1;
        transition: background-color 0.6s linear, height 0.6 linear;

    }
    nav.active :nth-child(1){
        animation: show 0.5s linear;
    }
    nav.active :nth-child(2){
        animation: show 0.7s linear;
    }
    nav.active :nth-child(3){
        animation: show 0.8s linear;
    }
    nav.active :nth-child(4){
        animation: show 0.9s linear;
    }
    nav.active :nth-child(5){
        animation: show 1s linear;
    }
    @keyframes show {
        0%{
            opacity: 0;
            transform: translate(-40px);
        }
        100%{
            opacity: 1;
        }
    }
}
@media (max-width:768px){
    html{
        font-size: 50%;
    }
}